<configuration>
  <system.webServer>
    <rewrite>
      <rules>
        <rule name="Redirect to wwwroot" stopProcessing="true">
          <match url="^$" />
          <action type="Rewrite" url="/wwwroot/index.html" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>
